
.scroll-image {
    width: 100%;
    max-width: 100%; 
    height: auto;
    opacity: 0; /* Initially hide the images */
    transform: translateX(100%);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .scroll-detail {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  /* Container styles to prevent overflow */
  .left-container,
  .right {
    overflow: hidden;
  }
  
  /* Add other styles as needed */
  